.logo {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Raleway;
  color: $colortitle-cl;
  width: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo > .logo-web {
  color: $coloraccent-cl;
}
.logo-footer {
  display: block;
  font-family: Raleway;
  width: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $coloralt-title-cl;
}
.logo-web-footer {
  color: $coloraccent-cl;
}
