$colormain-text-cl: #212121;
$colortitle-cl: #212121;
$coloraccent-cl: #2196f3;
$coloralt-text-cl: #757575;
$coloralt-title-cl: #ffffff;
$colordark-bg: #2f303a;
$colorsecond-bg: #f5f4fa;
$overlay-color: rgba(47, 48, 58, 0.4);
